:root{
    --primary-color: hsl(225, 100%, 94%);
    --secondary-color: hsl(245, 75%, 52%);
    --tertiary-color: hsl(225, 100%, 98%);
    --fouthary-color: hsl(224, 23%, 55%);
    --fifthary-color: hsl(223, 47%, 23%);
}

